
         body{background-color: #C1DAD6;}
         #inner {display: table; margin: 0 auto;}
         #outer {width:100%}
         h3{background-color: #6D929B;
         text-align:center;}
         h2{background-color: #6D929B;
         text-align:center;}
         input[type=button], input[type=submit], input[type=reset]
          {
         background-color: #4CAF50;
         border: none;
         color: white;
         padding: 16px 32px;
         text-decoration: none;
         margin: 4px 2px;
         cursor: pointer;
         }
      